using System;

namespace ConsoleApp3
{
    public class Program
    {
        static void Main(string[] args)
        {
            Fighter fighter = new Fighter();
            fighter.Name = "m";
            fighter.Health = 48;
            fighter.Power = 1;
            fighter.Numberofvictory = 2;
            Console.WriteLine(fighter.HitNumber);
            
            Console.WriteLine("Enter Hit Number : ");
            string input = Console.ReadLine();
            int hitNumber = Convert.ToInt32(input);
            fighter.HitNumber = hitNumber;
            Console.WriteLine(fighter.HitNumber);
            fighter.Punch();
            fighter.Kick();
            fighter.Fire();
            fighter.Win();


        }

    }
    public class Fighter
    {
        public int HitNumber { get; set; }

        public void Punch()
        {
        Console.WriteLine("Punch!");
        Health += HitNumber;
            
        }
        public void Kick()
        {
            Console.WriteLine("Kick!");
            Health += 20;
        }
        public void Fire()
        {
            Console.WriteLine("Fire!");
            Health += 30;
        }
        public void Win()
        {
            Console.WriteLine("Win!");
            Health += 40;
        }

        
        
       
        public string Name { get; set; }
        public int Health { get; set; }
        public int Power { get; set; }
        public int Numberofvictory { get; set; }




    }
}

